{% extends "./base_generic.html" %}
{% block content %}
    <style>
        body > .container {
            width: 50vw;
        }

        body .container .column {
            flex-grow: 0;
        }

        .column > a.button {
            height: 100px;
            width: 100px;
            white-space: normal;
        }
    </style>
    <div class="container level">
        <div class="columns is-multiline">
            {% for tool in tools %}
                <div class="column">
                    <!--                TODO: fix link-->
                    <a class="button" href="/polls/{{ tool.name }}">{{ tool.title }}</a>
                    {# <a class="button" href="/polls/{% url tool.name %}">{{tool.title}} </a> #}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}