{% extends "./base_generic.html" %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <style>
        #states {
            max-width: 200px;
        }

        #states > * {
            margin: 5px;
        }

        .tab-content {
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
            display: none;
            padding: 6px 12px;
        }

        .tab-content.active {
            display: block;
        }

        /* Go from zero to full opacity */
        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .work-container {
            margin: 5px;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .progress-container {
            margin: 1em;
        }

        .progress-container progress {
            margin-bottom: 0 !important;
        }

        .progress-container * {
            margin-right: 0.5em;
            white-space: nowrap;
        }
    </style>

    <div class="columns">
        <div id="states" class="container column is-one-quarter">
            <figure class="image is-square">
                <div class="button has-ratio">
                    Text Extracting
                </div>
            </figure>
            <div class="is-flex is-horizontal-center">
                <img src="{% static "polls/images/arrow-down.svg" %}" alt="Arrow Down"/>
            </div>
            <figure class="image is-square">
                <div class="button has-ratio">
                    Text Processing
                </div>
            </figure>
            <div class="is-flex is-horizontal-center">
                <img src="{% static "polls/images/arrow-down.svg" %}" alt="Arrow Down"/>
            </div>
            <figure class="image is-square">
                <div class="button has-ratio">
                    Calculate Similarity
                </div>
            </figure>
        </div>
        <div class="container column">
            <div class="level">
                <div class="level-left level-item progress-container">
                    <span>Task State:</span>
                    <span class="task-state tag"> {{ task.state }}</span>
                    <progress id="process-progress" class="progress is-primary" value="0"></progress>
                    <span id="process-progress-label">0/0</span>
                </div>
                <div class="level-right level-item buttons">
                    <div id="process_state" class="button is-primary  {{ task.is_finished|yesno:"disabled," }}">Start
                    </div>
                    <a href="{% url 'polls:create-task' %}">
                        <button class="button">New</button>
                    </a>
                </div>
            </div>
            <div class="tabs is-medium">
                <ul>
                    <li class="is-active">
                        <a>
                            <span class="icon is-small">
                                <i class="fas fa-cog" aria-hidden="true"></i>
                            </span><span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a>
                        <span class="icon is-small">
                            <i class="fas fa-cogs" aria-hidden="true"></i>
                        </span><span>Process</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content config {{ task.is_running|yesno:",active" }} {{ task.is_finished|yesno:"disabled," }}">
                <div>
                    <label>
                        Processes:
                        <input id="process-number" type="number" value="1">
                    </label>
                </div>
            </div>
            <div class="tab-content result {{ task.is_running|yesno:"active," }}">
                <div class="is-flex stage-container">
                    <div class="work-container">
                        <div class="work-stage">Stage:</div>
                        <div class="work-current">Current:</div>
                        <div class="work-total">Total:</div>
                        <div class="work-state">State:</div>
                        <div class="work-start">Start:</div>
                        <div class="work-end">End:</div>
                        <div class="work-running">Time Running:</div>
                        <div class="work-estimated">Time Left:</div>
                    </div>
                </div>
                <p id="output"></p>
            </div>
            <template class="stage-template">
                <div class="work-container">
                    <div class="work-stage">Unknown</div>
                    <div class="work-current">Unknown</div>
                    <div class="work-total">Unknown</div>
                    <div class="work-state">Unknown</div>
                    <div class="work-start">Unknown</div>
                    <div class="work-end">Unknown</div>
                    <div class="work-running">Unknown</div>
                    <div class="work-estimated">Unknown</div>
                </div>
            </template>
        </div>
    </div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        const tabs = document.querySelectorAll(".tabs li")
        const tabContents = document.querySelectorAll(".tab-content")

        function switchToTab(newTabIndex) {
            const activeTab = document.querySelector(".tabs li.is-active")
            const index = Array.prototype.indexOf.call(tabs, activeTab);

            const previousContents = tabContents[index];
            previousContents.classList.remove("active");
            activeTab.classList.remove("is-active");

            const nextTab = tabs[newTabIndex];
            const nextContents = tabContents[newTabIndex];
            nextContents.classList.add("active");
            nextTab.classList.add("is-active");
        }

        for (let i = 0; i < tabs.length; i++) {
            /**
             *
             * @type {Element}
             */
            const tabHeader = tabs[i]
            tabHeader.addEventListener("click", () => switchToTab(i));
        }
        let intervalId;
        // assume initially that it does not run
        // and query for true state (which will set the interval if it is running)
        let running = false;
        queryState().catch(console.error)

        const outputNode = document.querySelector("#output");
        const stageContainer = document.querySelector(".stage-container");
        const stageNodes = {};
        /**
         * @type {HTMLTemplateElement}
         */
        const stageTemplate = document.querySelector(".stage-template")

        /**
         * @type {HTMLElement}
         */
        const processStateButton = document.querySelector("#process_state");

        processStateButton.addEventListener("click", async () => {
            clearInterval(intervalId);
            try {
                const url = `http://localhost:8000/polls/api/${running ? "stop" : "start"}/{{ task.pk }}/`;
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "Content-Type": "application/json"
                    },
                    mode: "same-origin",
                    body: JSON.stringify(getConfig())
                });
                running = !running;

                if (running) {
                    // the process tab is the second tab (maybe move to variable instead of magic number)
                    switchToTab(1);
                }

                if (!response.ok) {
                    console.error("Failed to start Task");
                }

                processStateButton.textContent = running ? "Stop" : "Start";
                queryState().catch(console.error)
                intervalId = setInterval(queryState, 5000);
            } catch (e) {
                console.log(e)
            }
        });

        function getConfig() {
            /**
             * @type {HTMLInputElement}
             */
            const processNumberInput = document.getElementById("process-number");
            return {
                processes: processNumberInput.valueAsNumber || 1
            }
        }

        /**
         * Updates the config part of the gui.
         *
         * @param {Config} config
         */
        function setConfig(config) {
            const processNumberInput = document.getElementById("process-number");
            processNumberInput.valueAsNumber = config.processes;
        }

        async function queryState() {
            try {
                const response = await fetch("http://localhost:8000/polls/api/task/{{ task.pk }}/");

                if (!response.ok) {
                    return;
                }
                /**
                 * @type {Task}
                 */
                const msg = await response.json();
                processTask(msg)
            } catch (reason) {
                clearInterval(intervalId);
                console.log("threw something: ", reason);
            }
        }

        const currentSuffix = "_current";
        const totalSuffix = "_total";
        const stageProgress = {};

        /**
         * @typedef Task
         * @property {number} id
         * @property {string | Date} start_time
         * @property {string | Date} end_time
         * @property {string} state
         * @property {number} pid
         * @property {Array<Stage>} stages
         * @property {Config} config
         */
        /**
         * @typedef Stage
         * @property {string} name
         * @property {number} current
         * @property {number} total
         * @property {string} state
         * @property {string | Date} start_time
         * @property {string | Date} end_time
         * @property {number | undefined} time_left
         */

        /**
         * @typedef Config
         * @property {number} id
         * @property {number} task
         * @property {number} processes
         */

        /**
         * Processes and visualizes the current task value.
         *
         * @param {Task} task - current task value
         */
        function processTask(task) {
            for (const stage of task.stages) {
                if (stage.name) {
                    processStage(stage);
                }
            }

            if (task.state !== "running") {
                clearInterval(intervalId);
                running = false;
            } else if (!running) {
                intervalId = setInterval(queryState, 5000)
                running = true;
            }

            /**
             * @type {HTMLProgressElement}
             */
            const progressElement = document.querySelector("#process-progress");
            const progressLabel = document.querySelector("#process-progress-label");
            const taskState = document.querySelector(".progress-container .task-state");
            let total = 0;
            let current = 0;

            for (const value of Object.values(stageProgress)) {
                total += value.total;
                current += value.current;
            }
            progressElement.max = total;
            progressElement.value = current;
            progressLabel.textContent = `${current}/${total}`

            // it should not be possible to a finished state like failed an then a state like NONE or RUNNING
            // thus we should not need to care about removing the 'disabled' css class
            if (task.state === "{{ task.NONE }}") {
                processStateButton.textContent = "Start";
                taskState.textContent = "None"
                taskState.className = "task-state tag is-light"
            } else if (task.state === "{{ task.RUNNING }}") {
                processStateButton.textContent = "Stop";
                taskState.textContent = "Running"
                taskState.className = "task-state tag is-info"
            } else if (task.state === "{{ task.SUCCEEDED }}") {
                processStateButton.classList.add("disabled");
                taskState.textContent = "Succeeded"
                taskState.className = "task-state tag is-success"
            } else if (task.state === "{{ task.FAILED }}") {
                processStateButton.classList.add("disabled");
                taskState.textContent = "Failed"
                taskState.className = "task-state tag is-danger"
            } else if (task.state === "{{ task.CANCELED }}") {
                processStateButton.classList.add("disabled");
                taskState.textContent = "Cancelled"
                taskState.className = "task-state tag is-warning"
            }
            // config should only be configurable when task is not even started
            if (task.state !== "{{ task.NONE }}") {
                tabContents[0].classList.add("disabled")
            }
        }

        /**
         * Processes and visualizes the given stage value.
         *
         * @param {Stage} message - current stage progress
         */
        function processStage(message) {
            const previousMessage = stageProgress[message.name];
            stageProgress[message.name] = message;
            /**
             * @type {HTMLElement}
             */
            let node = stageNodes[message.name];

            if (!node) {
                stageNodes[message.name] = node = stageTemplate.cloneNode(true).content.firstElementChild;
                stageContainer.appendChild(node);
            }
            message.start_time = message.start_time && new Date(message.start_time);
            message.end_time = message.end_time && new Date(message.end_time);
            const now = new Date()

            node.querySelector(".work-stage").textContent = message.name;
            node.querySelector(".work-current").textContent = message.current + "";
            node.querySelector(".work-total").textContent = message.total + "";
            node.querySelector(".work-state").textContent = message.state;
            node.querySelector(".work-end").textContent = message.end_time + "";
            node.querySelector(".work-start").textContent = message.start_time + "";

            if (message.state === "running" || (previousMessage && previousMessage.state === "running")) {
                const startTime = new Date(message.start_time);
                const millisecondsRunning = now - startTime;
                node.querySelector(".work-running").textContent = toTime(millisecondsRunning, false);

                // prevent division by zero, and we can only estimate if at least one step was done
                if (message.total && message.current) {
                    const progress = message.current / message.total;
                    const msecsLeft = (millisecondsRunning / progress) * (1 - progress);
                    message.time_left = msecsLeft;
                    node.querySelector(".work-estimated").textContent = toTime(msecsLeft, false);
                }
            }
        }

        setInterval(updateTime, 1000)

        function updateTime() {
            if (!running) {
                return;
            }
            for (const [key, message] of Object.entries(stageProgress)) {
                /**
                 * @type {HTMLElement}
                 */
                const node = stageNodes[key];

                if (!node) {
                    continue;
                }
                if (message.time_left) {
                    message.time_left -= 1000;
                    try {
                        node.querySelector(".work-estimated").textContent = toTime(message.time_left, false);
                    } catch (e) {
                        console.log(message.time_left, e)
                    }
                }
            }
        }

        /**
         * Copied from https://stackoverflow.com/a/35890816
         *
         * @param {number} value
         * @param {boolean | undefined} isSec
         */
        function toTime(value, isSec) {
            const ms = isSec ? value * 1e3 : value;
            const lm = ~(4 * !!isSec);  /* limit fraction */
            const fmt = new Date(ms).toISOString().slice(11, lm);

            if (ms >= 8.64e7) {  /* >= 24 hours */
                const parts = fmt.split(/:(?=\d{2}:)/);
                parts[0] -= -24 * (ms / 8.64e7 | 0);
                return parts.join(':');
            }

            return fmt;
        }
    </script>
{% endblock %}